<!DOCTYPE html>
<html>


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
p,h3,a,p2{
    font-size: 160%;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {

    height: 100%;
    color: black;
    line-height: 2.0;

}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('http://i.imgur.com/MxqwhtB.jpg?1');
    min-height: 90%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("http://www.powerpointhintergrund.com/uploads/2017/05/gradients-simple-background-light-colorful-abstract-4.jpeg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("http://www.powerpointhintergrund.com/uploads/2017/05/gradients-simple-background-light-colorful-abstract-4.jpeg");
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}


.active a {
  background-color: white;
}

</style>
<body>



<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" <style =font-size: 400%;>
    <span class="w3-center w3-padding-large w3-xlarge w3-wide w3-animate-opacity"> <span class="w3-hide-small"
  <div class="w3-display-middle">
    <span class="w3-xxxlarge w3-text-darkgrey w3-wide%;">INTERNSHIPS</span>
  </div>
</div>

<center><text style="font-size:20px">Click on the images or logos to visit the different websites!</center>


</div>
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="/" class="w3-bar-item w3-button">||HOME||</a>
    <a href="volunteering.html" class="w3-bar-item w3-button w3-hide-small"><i class=></i> VOLUNTEER</a>
    <a href="scholarships.html" class="w3-bar-item w3-button w3-hide-small"><i class=></i> SCHOLARSHIPS</a>
    <div class="active"><a href="internships.html" class="w3-bar-item w3-button w3-hide-small"><i class=></i> INTERNSHIPS</a></div>
    <a href="programs.html" class="w3-bar-item w3-button w3-hide-small"><i class=></i> PROGRAMS</a>
    <a href="advice.html" class="w3-bar-item w3-button w3-hide-small"><i class=></i> ADVICE</a>

    </a>
  </div></div>




<script>

// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card-2" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-white", "");
    }
}

</script>


<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Jewish Family and Children's Services</h1>
      <h5 class="w3-padding-32"> This is a paid, 6-week internship for 10th, 11th, and 12th grade students! You will be placed in participating offices all around the Bay Area, and will also attend weekly workshops. Lily participated in this after her freshman year, and did mainly office work: filing, organizing, filling out forms, etc. However, depending on where you work, you can participate in different activities. Some possible activities include visiting clients, shadowing doctors, or testing out games. There are many different options, and no- you do not have to be Jewish!


  <p class="w3-text-grey">
<p><text style="font-size:20px;text-color:black;">Requirements:</p>
  <li>You have to complete the online application.</li>
  <li>You must get 2 letters of recommendation.</li>
  <li>You will also have a short interview with the youth coordinator.</li>

    </div>

    <div class="w3-third w3-center">
     <a href="https://www.jfcs.org/find-help/youth/internships/"><img
class="img-circle"
src="http://files.ctctcdn.com/bfa6618b001/43d76f1e-8885-4bdf-930c-27b584b5b7da.jpg"
alt="some_text"
style="width:320px;height:150px;"></a> </p>



    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-white w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <a href="
https://oso.stanford.edu/programs/39-rise-summer-internship-program
"><img
class="rise"
src="https://engineering.stanford.edu/sites/default/files/styles/banner-850x400/public/community_RISE_Nguyen_680x320_0.jpg?itok=PxnTxHZE"
alt="some_text"
style="width:310px;height:170px;"> </a></p>


    </div>

    <div class="w3-twothird">
      <h1>RISE: Raising Interest in Science and Engineering
</h1>
      <h5 class="w3-padding-32">This program is sponsored by Stanford’s Office of Science Outreach. It is a 7-week summer program for high school students interested in science, engineering, math, computer science, or psychology. Students get to work in a research lab with a mentor, go on field trips, do science activities. It is meant for students who come from low-income families, who plan to be the first to attend college. Priority is given to students from under-represented groups in science and engineering.

</h5>

      <p class="w3-text-grey">
<p><text style="font-size:20px;text-color:black;">Requirements:</p>
<h5><li>You must have a 3.5 minimum weighted GPA.</li>
<li>You must be at least 16 years old.</li>
<li>You should also attend a high school within a 25-mile radius of Stanford, since you must commute every day.</li>
<li>You must have completed your freshman year of high school.</li>
<li>You must either be the first in your family to attend college, come from a low-income family, or be from a historically under-represented group in STEM.</li>
<li>A teacher or principal from your school must nominate you. (If they cannot, follow instructions on website.)</li></h5>
<br>


</p>



    </div>
  </div>
<div class="w3-row-padding w3-light-white w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>SIMR: Stanford Institutes of Medicine Summer Research Programs</h1>
      <h5 class="w3-padding-32">This is an 8-week summer internship for juniors and seniors in high school, who are interested in medicine. Students will work in a research lab with a mentor, visit biotech companies, and attend various lectures and seminars on careers and college admissions.

</h5>

      <p class="w3-text-black">
      <h5>  Similar to Stanford University, this program is extremely difficult to get into.
    <br><p><text style="font-size:20px;text-color:black;">Requirements:</p>
<li>You must be an incoming junior or senior  in high school</li>
<li>You must complete all parts of the application
</li>
<li>16 years old</li>
<li>U.S. Citizen or permanent resident with a green card</li></h5>




</p>
    </div>

    <div class="w3-third w3-center">
     <a href="
https://simr.stanford.edu/
"><img
class="img-circle"
src="https://simr.stanford.edu/_jcr_content/hero/hero_banner/images/imageSlide1.img.1024.high.jpg"
alt="some_text"
style="width:400px;height:200px;"></a> </p>


<br>

</div>

</div></div>



<div class="w3-row-padding w3-white w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <a href="https://speier.house.gov/services/internships"><img
    class="zoo"
    src="https://www.congress.gov/img/member/114_rp_ca_14_speier_jackie.jpg"
    alt="some_text"
    style="width:220px;height:230px;"> </a></p>

    </div>


    <div class="w3-twothird">
      <h1>Intern for Jackie Speier</h1>
      <h5 class="w3-padding-32">If you are interested in government and politics, this is for you! You could intern for Congresswoman Speier in the Washington DC or San Mateo office. Your tasks may include researching legislation issues, writing letters, helping plan events, answering the phone, assisting staff, conducting tours of the U.S. Capitol, or entering data into documents.

    </h5>

<p class="w3-text-black">

<h5>
  This is a pretty serious position, so make sure you have at least some of the following skills: <br><br>
<li>Professional phone manner</li>
<li>Interest in national and/or local issues</li>
<li>Ability to work well with others</li>
<li>Understanding of basic computer programs</li>
<li>Strong writing skills</li>
<li>Attention to detail</li>
<li>Ability to complete tasks under tight deadlines</li></h5>
<br>
<p><text style="font-size:20px;text-color:black;">Requirements:</p>
<h5><li>You must complete the application, which includes a written response to 5 different questions, a cover letter, and a resume.</li>

</h5>
<br>
</p>
    </div>
<br>
<br>
<br>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Girls Who Code Summer Immersion Program
</h1>
      <h5 class="w3-padding-32">And now for the best opportunity! The Girls Who Code Summer Immersion Program is what brought Jordan, Lily, and Janet together, and is how Valencia Girls was born!
It is a free 7-week summer program for rising juniors and seniors who are interested in computer science. The program is located at several different tech companies, including Twitter, Facebook, Electronic Arts, Autodesk, Microsoft, AT&T, Intuit, and many more! Throughout the 7 weeks, you will not only learn how to code and work on a final project of your choice, but will also hear from various women with careers in technology, go on field trips to other tech companies, and form lifelong bonds with your peers!

</h5>
<p class="w3-text-black">
<p><text style="font-size:20px;text-color:black;">Requirements:</p>
  <h5><li>You must be a rising junior or senior in high school.</li>
  <li>You must complete the online application, which consists of answering a short prompt.</li>
  <li>You must be able to commit to the full 7 weeks, from 9am to 4pm - you can only miss 2 days!</li>
</h5>
</p>

    </div>

    <div class="w3-third w3-center">
      <a href="https://girlswhocode.com/summer-immersion-programs/
      "><img
class="img-circle"
src="https://pbs.twimg.com/profile_images/755083363233304577/L5iPfN4Y.jpg"
alt="some_text"
style="width:270px;height:250px;"></a> </p> </div>


<br>
<br>
<br>



</div>
    </div></div>



  <div class="w3-row-padding w3-white w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-third w3-center">
        <a href="http://www.calacademy.org/careers-in-science-cis-intern-program"><img
  class="zoo"
  src="https://www.etc.cmu.edu/wp-content/uploads/2013/09/logo_wide.jpg"
  alt="some_text"
  style="width:300px;height:130px;"> </a></p>


      </div>

      <div class="w3-twothird">
        <h1>Careers in Science Intern Program | California Academy of Sciences
  </h1>
        <h5 class="w3-padding-32">This program strives to add diversity to the scientific community. It is looking for teens who are interested in science, able to make a full commitment, and have a desire to pursue a degree and career in STEM (Science, Technology, Engineering, and Math). Alumni from this program have earned degrees in biology, environmental science, engineering, geology, and public health.<br><br>

    Interns get the opportunity to work in the amazing Golden Gate Park facility, and go to off-site events. Activities include learning about science through lectures, workshops and conferences, and conducting scientific research with scientists from the Academy.
  </h5>

        <p class="w3-text-grey">
        <p><text style="font-size:20px;text-color:black;">Requirements:</p>
          <h5><li>You must be a San Francisco resident attending a SFUSD school, entering your freshman or sophomore year of high school.</li>
          <li>You must be able to obtain a valid work permit.</li>
          <li>Commit to all attendance requirements of the program on a year-round, multiyear basis, including after school, weekends, and summer work.</li>
          <li>Make sure you are able to commute to the Academy in Golden Gate Park.</li>
          <li>You must demonstrate an interest in and enthusiasm for learning about science, conducting scientific research, and teaching science to diverse audiences.</li></h5>



  </p>
</div></div></div></div></div>
<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
  <div> contactvalenciagirls@gmail.com <br>

    <a href="https://twitter.com/Valenciagirlss?lang=en"><i class="fa fa-twitter w3-hover-opacity"></a></i>
  </div>

</footer>



</body>
</html>
