<!DOCTYPE html>
<html>


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
p,h3,a,p2{
    font-size: 160%;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {

    height: 100%;
    color: black;
    line-height: 2.0;

}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('https://wallpaperscraft.com/image/background_stain_shadow_color_38224_2560x1600.jpg');
    min-height: 90%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("http://www.powerpointhintergrund.com/uploads/2017/05/gradients-simple-background-light-colorful-abstract-4.jpeg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("http://www.powerpointhintergrund.com/uploads/2017/05/gradients-simple-background-light-colorful-abstract-4.jpeg");
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}


.active a {
  background-color: white;
}

</style>
<body>


<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" <style =font-size: 400%;>
    <span class="w3-center w3-padding-large w3-xlarge w3-wide w3-animate-opacity"> <span class="w3-hide-small"
  <div class="w3-display-middle">
    <span class="w3-xxxlarge w3-text-darkgrey w3-wide%;">PROGRAMS</span>
  </div>
</div>

<center><text style="font-size:20px">Click on the logos to visit the different websites!</center>


</div>

<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="/" class="w3-bar-item w3-button">||HOME||</a>
    <a href="volunteering.html" class="w3-bar-item w3-button w3-hide-small"><i class=></i> VOLUNTEER</a>
    <a href="scholarships.html" class="w3-bar-item w3-button w3-hide-small"><i class=></i> SCHOLARSHIPS</a>
    <a href="internships.html" class="w3-bar-item w3-button w3-hide-small"><i class=></i> INTERNSHIPS</a>
    <div class="active"><a href="programs.html" class="w3-bar-item w3-button w3-hide-small"><i class=></i> PROGRAMS</a></div>
    <a href="advice.html" class="w3-bar-item w3-button w3-hide-small"><i class=></i> ADVICE</a>

    </a>
  </div></div>
  <script>

  // Change style of navbar on scroll
  window.onscroll = function() {myFunction()};
  function myFunction() {
      var navbar = document.getElementById("myNavbar");
      if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
          navbar.className = "w3-bar" + " w3-card-2" + " w3-animate-top" + " w3-white";
      } else {
          navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-white", "");
      }
  }

  </script>


<!-- First Grid -->

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Wishbone</h1>
      <h5 class="w3-padding-32">Wishbone helps passionate, low-income students pay to attend after school and summer programs through fundraising. Wishbone helps students find the right summer programs by aligning them with their passions, and get into the programs by reviewing their applications.
<br>
  <p class="w3-text-grey"><br>
<p><text style="font-size:20px;text-color:black;">Requirements:</p>
  <li>You must come from a low-income family.</li>
  <li>You must have an interest in dedicating your summer to different programs.</li>
    </div>
    <div class="w3-third w3-center">
     <a href="https://www.wishbone.org/"><img
class="img-circle"
src="https://pbs.twimg.com/profile_images/1769271049/Wishbone_Twitter_400x400.png"
alt="some_text"
style="width:200px;height:200px;"></a> </p>



    </div>
  </div>


<!-- Second Grid -->
<div class="w3-row-padding w3-white w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <a href="https://www.questbridge.org/g"><img
class="zoo"
src="https://pbs.twimg.com/profile_images/525385191859052544/RHnSY9_W_400x400.png"
alt="some_text"
style="width:250px;height:230px;"> </a></p>


    </div>

    <div class="w3-twothird">
      <h1>QuestBridge
</h1>
      <h5 class="w3-padding-32">QuestBridge is a non-profit program that links high-achieving, deserving students with educational and scholarship opportunities at leading U.S. colleges and universities.

</h5>

      <p class="w3-text-grey">
<p><text style="font-size:20px;text-color:black;">Requirements:</p>
<h5><li>Complete the free, online National College Match application, which requires information on your academic and extracurricular accomplishments, and financial background. You will also need to respond to two short answer questions.</li>
<li>Obtain two letters of recommendation from teachers in core academic subjects.</li>
<li>Provide a Secondary School Report from your high school counselor.</li>
<li>Provide your high school transcript.</li>
<li>Reveal any standardized test score reports to-date. (SAT, ACT, Subject Tests, IB, or AP test scores. SAT and/or ACT test scores are highly recommended.)</li></h5>
<br>


</p>
    </div></div>

<div class="w3-row-padding w3-light-white w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>SMASH</h1>
      <h5 class="w3-padding-32">The Summer Math and Science Honors Academy (SMASH) is a free of cost, STEM-intensive college preparatory program for under-represented high school students of color.
</h5>

      <p class="w3-text-black">

    <p><text style="font-size:20px;text-color:black;">Requirements:</p>

  <h5>  <li>You will need to stick to a schedule, and be willing to undergo training during the school year.</li>
   <li>You must be a freshman at time of application.</li>
    <li>You must have strong mathematics skills appropriate for your grade level. This will be determined by the SMASH math assessment (administered to all SMASH applicants in March).</li>
    <li> You must attend a public high school or private high school via scholarship.</li>
    <li>County Eligibility:
Reside in California in one of the following counties:
SMASH Berkeley or SMASH Stanford: Alameda, Contra Costa, Marin, Napa, San Francisco, San Mateo, Santa Clara, Santa Cruz, or Solano
SMASH UCLA: Los Angeles
SMASH Davis: Sacramento, Solano, or Yolo.</li></h5>




</p>
    </div>

<div class="w3-third w3-center">
 <a href="http://www.lpfi.org/programs/smash/"><img
class="img-circle"
src="http://i.imgur.com/USWnu3i.png?1"
alt="some_text"
style="width:250px;height:250px;"> </a></p>




</div></div></div>


<div class="w3-row-padding w3-white w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <a href="http://sps.columbia.edu/girls-in-stem"><img
    class="zoo"
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAARVBMVEXwUSX9uBMyoNp/u0L////vRgz9tQAgnNj+4K6z1u54uDXK4bf4u7HI4LSw1O7+3qpytSX84d3n8d/e7ff/8dzvOgAAl9dLDuhEAAABIElEQVR4nO3PNw4CQRAAwQHOe+z/n0rKpgQj7an6A62KSKpdmt/m6ZZUFpCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQ8JTCNql3KVyPKalYsroXwsc6JxXN2SOsP8L6I6w/wvojrD/C+osxqe1ZfF/7kFT0SX22Qrh3WcU1qX4shEN3SYqQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkPD/vqoyjotFDAjwAAAAAElFTkSuQmCC"
    alt="some_text"
    style="width:270px;height:230px;"> </a></p>

    </div>


    <div class="w3-twothird">
      <h1>Girls in STEM</h1>
      <h5 class="w3-padding-32">Girls In STEM  is a week-long
        program that gives young women a hands-on experience in science,
        technology, engineering, and math. This program also strives to help girls
        develop leadership and communications skills.
    </h5>

<p class="w3-text-black">

<h5>

<p><text style="font-size:20px;text-color:black;">Requirements:</p>
<h5><li>Transcripts</li>
<li>Statement of purpose</li>
<li>Letter of recommendation</li></h5>
<br>
</p>
    </div></div></div></div></div>
    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
      <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
      <div class="w3-xlarge w3-section">
      <div> contactvalenciagirls@gmail.com <br>
        <a href="https://twitter.com/Valenciagirlss?lang=en"><i class="fa fa-twitter w3-hover-opacity"></a></i>

      </div>

    </footer>



</body>
</html>
