<!DOCTYPE html>
<html>



<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
p,h3,a,p2{
    font-size: 160%;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {

    height: 100%;
    color: black;
    line-height: 2.0;

}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('http://myshoecafe.com/background_fade.jpg');
    min-height: 90%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("http://www.powerpointhintergrund.com/uploads/2017/05/gradients-simple-background-light-colorful-abstract-4.jpeg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("http://www.powerpointhintergrund.com/uploads/2017/05/gradients-simple-background-light-colorful-abstract-4.jpeg");
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}


.active a {
  background-color: white;
}

</style>
<body>



<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" <style =font-size: 400%;>
    <span class="w3-center w3-padding-large w3-xlarge w3-wide w3-animate-opacity"> <span class="w3-hide-small"
  <div class="w3-display-middle">
    <span class="w3-xxxlarge w3-text-darkgrey w3-wide%;">VOLUNTEER</span>
  </div>
</div>

<center><text style="font-size:20px">Click on the logos to visit the different websites! All of the opportunities are located in the Bay Area!</center>







<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="/" class="w3-bar-item w3-button">||HOME||</a>
    <div class="active"><a href="volunteering.html" class="w3-bar-item w3-button w3-hide-small"><i class=></i> VOLUNTEER</a></div>
    <a href="scholarships.html" class="w3-bar-item w3-button w3-hide-small"><i class=></i> SCHOLARSHIPS</a>
    <a href="internships.html" class="w3-bar-item w3-button w3-hide-small"><i class=></i> INTERNSHIPS</a>
    <a href="programs.html" class="w3-bar-item w3-button w3-hide-small"><i class=></i> PROGRAMS</a>
    <a href="advice.html" class="w3-bar-item w3-button w3-hide-small"><i class=></i> ADVICE</a>

    </a>
  </div></div>


  <script>

  // Change style of navbar on scroll
  window.onscroll = function() {myFunction()};
  function myFunction() {
      var navbar = document.getElementById("myNavbar");
      if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
          navbar.className = "w3-bar" + " w3-card-2" + " w3-animate-top" + " w3-white";
      } else {
          navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-white", "");
      }
  }

  </script>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Sutter Health CPMC Volunteer Services</h1>
      <h5 class="w3-padding-32">  This is a volunteer program at Sutter Health CPMC in San Francisco. There are many awesome services that you can provide through this program! If you know how to knit or crochet, you can make baby beanies or blankets for the newborns at the hospital! Or, for the less skilfull master weavers, you can make phone calls to Emergency Department patients to ask about their experience in the ER. These are just a couple examples- there is so much more!


<br>
  <p class="w3-text-grey">
<h5>Volunteer if you:
  <li>want to try new things</li>
  <li>like interacting with patients or others</li>
  <li>enjoy hands-on activities</li>
<br>
Requirements:
  <li>You need to be willing to work in different areas of the campus, so don’t get comfortable!</li>
  <li>You will need to commit to doing at least 100 hours of community service through the program- wow!</li>
</h5>
    </div>

    <div class="w3-third w3-center">
     <a href="http://www.cpmc.org/volunteer/students.html"><img
class="img-circle"
src="http://damyy9ix8sgrc.cloudfront.net/logos/cpmc_logo.jpg"
alt="some_text"
style="width:320px;height:100px;"></a> </p>



    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-white w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <a href="http://oaklandzoo.org/Teen_Wild_Guides.php"><img
class="zoo"
src="http://www.k12academics.com/sites/default/files/OakZoo.2color.Large_.jpg"
alt="some_text"
style="width:250px;height:230px;"> </a></p>


    </div>
  <p><text style="font-size:20px">If you're interested in animals...</p>

    <div class="w3-twothird">
      <h1>Teen Wild Guide Program-Oakland Zoo</h1>
      <h5 class="w3-padding-32">This program allows you to interact with kids and animals. You can see what it's like to work at a zoo, make friends with other volunteers, and gain public speaking skills by relaying facts about the animals! The longer you volunteer, the more responsibilities you can get!
</h5>

      <p class="w3-text-grey">
<h5>Volunteer if you:
<li>are comfortable working with children</li>
<li>are willing to monitor animals</li>
<br>
Requirements:
<li>You must be at least 13 years old to apply.</li>
<li>You have to fill out an application, and submit 2 letters of recommendation.</li>
<li>It is recommended that you attend information orientations.</li>
</h5>
<br>
<br>
</p>
    </div>
  </div>
<div class="w3-row-padding w3-light-white w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>SPCA Youth Volunteer Services</h1>
      <h5 class="w3-padding-32">SPCA stands for Saving, Protecting, Caring, and Advocating. The SPCA is an animal shelter frequently visited by families who wish to adopt a pet. In the volunteer program, you can be tasked with bathing, feeding and interacting with the animals. You can take care of dogs, cats, guinea pigs, chinchillas, rabbits, pigeons, and so many more animals! You also get to choose your schedule, so you decide what times work best for you to volunteer.


</h5>

      <p class="w3-text-black">
  <p><text style="font-size:20px;">Volunteer if you:</p>
<h5><li>enjoy taking care of animals</li>
<li>prefer to be in control of your schedule</li>
<li>are able to commute to San Francisco’s Mission District or to Burlingame</li></h5>
<br>
  <h5>  Requirements:
  <br>
    <li>You will need to attend an orientation.</li>
    <li>If you are under the age of 16, you will need to volunteer with an adult.</li>
    <li>Depending on what department you want to volunteer in, you will also have to complete a few hours of training.</li></h5>
    <br>



</p>
    </div>

    <div class="w3-third w3-center">
     <a href="https://peninsulahumanesociety.org/"><img
class="img-circle"
src="https://peninsulahumanesociety.org/wp-content/uploads/2016/05/PHS-SPCA_logo_Green.jpg"
alt="some_text"
style="width:220px;height:100px;"></a> </p>

<div class="w3-third w3-center">
 <a href="https://www.sfspca.org/?gclid=CMb7xqqQtNUCFQ5EfgodFZkBhQ"><img
class="img-circle"
src="https://pbs.twimg.com/profile_images/874751713655218176/1IbjS0Eg.jpg"
alt="some_text"
style="width:250px;height:250px;"> </a></p>


    </div>
  </div>
</div>








<div class="w3-row-padding w3-white w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <a href="https://volunteering.ucsfmedicalcenter.org/summer-student-volunteers"><img
    class="zoo"
    src="https://daks2k3a4ib2z.cloudfront.net/57fc663070f215f15acf3fa1/5809a063b2727dfb36431c8f_ucsf-logo.png"
    alt="some_text"
    style="width:300px;height:150px;"> </a></p>

    </div>


    <div class="w3-twothird">
      <h1>UCSF Volunteer Services</h1>
      <h5 class="w3-padding-32">As a volunteer at UCSF (University of California- San Francisco), there are many different services you can provide. Some common tasks include interacting with patients, family, and staff, or even serving hot beverages to visitors!

    </h5>

<p class="w3-text-black">

  <p><text style="font-size:20px;">Volunteer if you:</p>
         <h5><li>enjoy interacting with people</li>
       <li>want to get exposure to a hospital environment</li>
         <li>are open to trying new things</li>
         <br>
         Requirements:
         <br>
         <li>You will need to commit a lot of your time, get letters of recommendation, and write a personal statement.</li>
   <li>You must be between the ages of 16 and 18.</li></h5>
<br>
<h5>Jordan did this program during her sophomore year, and is more than happy to tell you about her experience! <br></h5></p>
</div>
</div>
</div></div></div>
<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
<a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
<div class="w3-xlarge w3-section">
<div> contactvalenciagirls@gmail.com <br>

  <a href="https://twitter.com/Valenciagirlss?lang=en"><i class="fa fa-twitter w3-hover-opacity"></a></i>
</div>

</footer>


</body>
</html>
